* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    /* Changed the root font-size to 10px to make the
    mental conversion of the font size easier when
    using rem */
}

html, body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.chess-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 420px;
    min-height: 420px;
}

.table {
    border: 1px solid black;
}

tr > td {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-style: inset;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.white.allowed {
    background-color: red;
}

.black.allowed {
    background-color: red;
}